<div class="page-head"><h1>Welcome to the Ruby on Rails <small>Blog</small></h1></div>

<%= link_to 'New articles', new_article_path, class: "btn btn-default btn-lg btn-primary" %>

<%= link_to 'All articles', articles_path, class: "btn btn-default btn-lg btn-primary"  %>
